# Ignore Mac DS_Store files and other known temporary files
.DS_Store
.ndi
*.ndi
*.tmp
*.swp
*.asv
*.m~
__pycache__
thesis/data/stevesolddata.README.txt
thesis/data/stevesolddata.mat
thesis/Figure1.mat
thesis/Figure2.mat
/thesis/figures
/thesis/citations
thesis/log/06052024_cpf.mat
thesis/06042024.mat
